@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --primary-color: hsl(14, 86%, 42%);
    --secondary-color: hsl(14, 65%, 9%);
    --font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.5;
    font-family: RedHatText;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    cursor: pointer;
}
.Product {
    display: flex;
    gap: 30px;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.img-box {
    position: relative;
    margin-bottom: 24px;
    border-radius: 14px;
}
.product-description {
    text-align: left;
}
.product-description > h2 {
    font-size: 16px;
    color: hsl(14, 25%, 72%);
    font-weight: 500;
}
.product-description > h3 {
    font-size: 20px;
    color: hsl(14, 65%, 9%);
    /* padding: 4px 0; */
}
.product-description > p {
    color: var(--primary-color);
    font-weight: var(--font-weight);
}
.addtocart {
    border-radius: 20px;
    /* width: calc((100% / 2) + 10%); */
    /* position: absolute; */
    /* display: flex; */
    /* align-items: center; */
    background: white;
    color: var(--secondary-color);
    font-weight: var(--font-weight);
    padding: 8px 10px;
    /* bottom: -20px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* justify-content: center; */
    border: 1px solid hsla(14, 65%, 9%, 0.4);
}
.addtocart > svg {
    margin-right: 2px;
}
.addtocart:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.onclick-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    width: calc((100% / 2) + 10%);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 14px;
}
.onclick-btn > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.onclick-btn > div:hover {
    background-color: white;
}
.onclick-btn > div:hover path {
    fill: var(--primary-color);
}
.product-cart {
    width: calc((100% / 4) + 25%);
    height: 100vh;
    background: white;
    padding: 1em;
    border-radius: 12px;
}
.product-cart h2 {
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 12px;
    font-size: 1.25rem;
}
@media (max-width: 768px) {
    .Product {
        flex-direction: column;
    }
    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row {
        flex-direction: column;
    }
    .product-cart {
        width: 100%;
    }
}
@media (width: 820px) {
    .onclick-btn {
        bottom: -18px;
        padding: 15px;
    }
}
