@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --primary-color: hsl(14, 86%, 42%);
    --secondary-color: hsl(14, 65%, 9%);
    --font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.5;
    font-family: RedHatText;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    cursor: pointer;
}
.Product {
    display: flex;
    gap: 30px;
    position: relative;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.img-box {
    margin-bottom: 26px;
    border-radius: 14px;
}
.product-description {
    text-align: left;
}
.product-description > h2 {
    font-size: 16px;
    color: hsl(14, 25%, 72%);
    font-weight: 500;
}
.product-description > h3 {
    font-size: 20px;
    color: hsl(14, 65%, 9%);
    /* padding: 4px 0; */
}
.product-description > p {
    color: var(--primary-color);
    font-weight: var(--font-weight);
}
.addtocart {
    border-radius: 20px;
    position: relative;
    display: inline-flex;
    background: white;
    color: var(--secondary-color);
    font-weight: var(--font-weight);
    padding: 8px 10px;
    bottom: 125px;
    border: 1px solid hsla(14, 65%, 9%, 0.4);
}
.addtocart > svg {
    margin-right: 4px;
}
.addtocart:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.onclick-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    position: relative;
    bottom: 162px;
    left: 18%;
    padding: 0.52rem 0.70rem;
    width: calc((100%/3) + 30%);
}
.onclick-btn > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.onclick-btn > div:hover {
    background-color: white;
}
.onclick-btn > div:hover path {
    fill: var(--primary-color);
}
.cart-box {
    width: calc((100% / 4) + 25%);
    height: 100vh;
    background: white;
    padding: 1em;
    border-radius: 12px;
}
.cart-box h2 {
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 12px;
    font-size: 1.25rem;
}
.cart-items > ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}
.cart-items li {
    color: var(--secondary-color);
    font-weight: var(--font-weight);
    border-bottom: 2px solid hsl(13, 31%, 94%);
    margin-bottom: 12px;
    padding-bottom: 8px;
}
.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-summary span {
    margin-right: 8px;
}
.remove-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid hsl(14, 25%, 72%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.remove-icon:hover {
    border-color: hsl(14, 65%, 9%);
}
.remove-icon:hover path {
    fill: hsl(14, 65%, 9%);
}
.order-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.order-total > p {
    color: hsl(12, 20%, 44%);
}
.order-total > h3 {
    color: var(--secondary-color);
}
.carbon-neutral {
    background: hsl(20, 50%, 98%);
    padding: 12px;
    margin: 16px 0;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
}
.carbon-neutral > span {
    margin-left: 8px;
}
.cart-items > button {
    color: white;
    background: hsl(6, 60%, 35%);
    font-weight: bold;
    width: 100%;
    border-radius: 20px;
    padding: 12px;
    border: transparent;
}
.confirmation-modal {
    padding: 28px;
}
@media (max-width: 768px) {
    .Product {
        flex-direction: column;
    }
    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row {
        flex-direction: column;
    }
    .cart-box {
        width: 100%;
    }
}
@media (width: 820px) {
    .onclick-btn {
        bottom: -18px;
        padding: 15px;
    }
}
